*{
  margin    : 0;
  padding   : 0;
  box-sizing: border-box;
  font-family: 'Open Sans';
}

/*     header style 
*/
header{
  display:flex;
}
.logo{
  padding:15px;
}

.top-menu ul{
  list-style: none;
  display:flex;
  height:100%;
}

.top-menu ul li{
  height:100%;
  display:flex;
  border-bottom:white solid 5px;
}

.top-menu ul li.active{
  color: rgb(0, 98, 255);
  border-bottom:5px solid rgb(0, 98, 255)
}

.top-menu li.active a{
  color: rgb(0, 98, 255);
}

.top-menu ul li a{
  text-decoration: none;
  padding: 20px 10px;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  color: black;
  align-self: center;
  
}

/* main style 
*/

main{
  background-color: rgb(20, 19, 19);
  padding:20px;
  color: white;
  display:flex;
  justify-content: center;
}

/* footer style
*/



.top-footer{
  background-color: rgb(0, 98, 255);
 
  width:100%;
  padding:10px;
}
.list-icons{
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.link {
  margin:0px 10px;
}

footer{
  background-image: url('./img/footer-bg.jpg');
}
footer a{
  text-decoration: none;
  color:white;
  display:flex;
  align-items: center; 
}

.foot-links{
  padding:10px 10px;
}

.foot-links ul{
  list-style: none;
}

.foot-links h4{
margin:10px 0px;
color:white;
position:relative;
}

.top-footer a span{
  font-size: 10px;
  display:inline;
  text-transform: uppercase;
  margin-left: 5px;
}

.top-footer img{
  width:30px;
  height:30px;
  object-fit: contain;
}

.site-map{
  padding: 10px 0px;
}

.shop.position{
  position: absolute;
  bottom:0;
}
.dc-bg{
  background-image: url('./img/dc-logo-bg.png');
  background-repeat: no-repeat;
  background-size:cover; 
  background-position: center;
}

.bottom-footer{
  background-color: rgb(66, 66, 66);
  padding: 10px 0px;
}

.btn{
  border: solid rgb(0, 98, 255) 3px;
  padding:10px;
  background-color: rgba(0, 0, 0, 0);
  color: white;
}

.socials{
  display:flex;
  align-items: center;
}

.socials span{
  color : rgb(0, 98, 255);
  font-weight: 600;
}

.socials a{
  padding:10px;
}

/*comic card*/
.comic-card{
  padding:10px;
}
.comic-card img{
  width:100%;
  object-fit:cover;
  min-height:300px;
}
/* UTILITY
*/

.container {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
}

.flex-container-between {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
}

.align-center{
  display: flex;
  align-items: center;
}


.row{
  display:flex;
  flex-wrap: wrap;
  gap:0;
  width:100%;
}

.col-16{
  width: calc(100% / 6)
}

.col-33{
  width: calc(100% / 3)
}

.col-50{
  width:50%;
}

.pb-80{
  padding-bottom: 100px;
}

.mid-footer li {
  color:grey;
}

.mid-footer a{
  color:grey;
}

