*{
  margin    : 0;
  padding   : 0;
  box-sizing: border-box;
  font-family: 'Open Sans';
}

/*     header style 
*/
.logo{
  padding:15px;
}

.top-menu ul{
  list-style: none;
  display:flex;
  height:100%;
}

.top-menu ul li{
  height:100%;
  display:flex;
  border-bottom:white solid 5px;
}

.top-menu ul li.active{
  color: rgb(0, 98, 255);
  border-bottom:5px solid rgb(0, 98, 255)
}

.top-menu li.active a{
  color: rgb(0, 98, 255);
}

.top-menu ul li a{
  text-decoration: none;
  padding: 20px 10px;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  color: black;
  align-self: center;
  
}

/* main style 
*/

main{
  background-color: rgb(20, 19, 19);
  padding:20px;
  color: white;
  display:flex;
  justify-content: center;
}

/* footer style
*/

footer{
  position: relative;
}

.top-footer{
  background-color: rgb(0, 98, 255);
  position: absolute;
  top:0;
  width:100%;
  padding:10px;
}
.list-icons{
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.link {
  margin:0px 10px;
}
footer a{
  text-decoration: none;
  color:white;
  display:flex;
  align-items: center;
  
  
}

.top-footer a span{
  font-size: 10px;
  display:inline;
  text-transform: uppercase;
  margin-left: 5px;
}

.top-footer img{
  width:30px;
  height:30px;
  object-fit: contain;
}

.mid-footer h3 {
  margin: 10px 0px;
}

.mid-footer{
  padding:10px 0px;
  background-image: url('./img/footer-bg.jpg');
  display: flex;
  justify-content: center;
}

.mid-footer img{
  object-fit: contain;
  max-width: 100%;
}

.mid-footer ul{
  list-style: none;
}

.foot-links {
  padding-top: 60px;
  display:flex;
  flex-direction: column;
  margin: 0 10px;
}

.bottom-footer{
  position: absolute;
  bottom:0;
  width:100%;
  min-height:100px;
  background-color: rgb(66, 66, 66);
  
}

/* UTILITY
*/

.container {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.container-sm {
  margin: 0 auto;
  width: 80%;
  display: flex;
}

.row{
  display:flex;
  flex-wrap: wrap;
  gap:0;
}


.col-33{
  width: calc(100% / 3)
}

.col-50{
  width:50%;
}

.pb-80{
  padding-bottom: 100px;
}

.mid-footer li {
  color:grey;
}

.mid-footer a{
  color:grey;
}