*{
  margin    : 0;
  padding   : 0;
  box-sizing: border-box;
  font-family: 'Open Sans';
}




/*     header style 
*/
.top-menu ul{
  list-style: none;
  display:flex;
}
.top-menu ul li{
  height:100px;
  display:flex;
}

.top-menu ul li a{
  text-decoration: none;
  padding: 20px 10px;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  color: black;
  align-self: center;
  
}


main{
  background-color: rgb(20, 19, 19);
  padding:20px;
  color: white;
  display:flex;
  justify-content: center;
}
/* footer style
*/
.top-footer{
  background-color: rgb(52, 150, 255);
}
.top-footer a{
  text-decoration: none;
  color:white;
  display:flex;
  align-items: center;
  padding:20px;
  object-fit: contain;
}
.top-footer img{
  width:50px;
  
}
/* UTILITY
*/

.container {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.row{
  display:flex;
  flex-wrap: wrap;
  gap:0;
}

.col-20{
  width:20%;
}